<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty was built by <a target="_blank" href="http://github.com/github.com/powaileung">Powai</a>. This web developers who is new and is learning how to build website through coding and programming.  My mission is to become a successful programmer to create unique website and application.
  </p>
  <br />
  <p>
    My goal is to learn from this course to be able to code and build website and mobile application to introduce to people.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'powai.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Powai Leung</h2>
      <br />
      <p>
        Powai Leung is a new student in UC Berkeley Extension Coding Boot Camp. He is currently a owner of 2 companies.  He had over 20 years experience in auto industries.  He hopes he could apply the knowledge and skill that he will learn into his business.
      </p>
    </div>
  </div>

 <br class="clear" />
 <br />
 <br />
 <br />
 <br />